/static/uploads/*
*.sublime-project
*.sublime-workspace
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea
Pipfile.lock
settings.py
*.png
.idea/
.DS_Store